nav {
    background-color: var(--maroon);
    .navbar-brand {
        img {
            height: 50px;
        }
    }

    .info-docx-text {
        font-family: tubaba-bold;
        color: var(--gold);
    }
}
